.account {
  margin: 21px 0px 0px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100px;
  height: 32px;
  border-radius: 50px;
  border: 2px solid rgba(170, 170, 170, 0.2);
  align-items: center;
  text-decoration: none;
}

.account_menu {
  align-self: center;
  bottom: 90px;
}

.account__link {
  margin: 0px 12px 0px 7px;
  padding: 0px;
  color: #FFF;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.account:hover {
  opacity: 0.6;
}

.account__icon {
  background-image: url(../../images/icon__COLOR_icon-main.svg);
  width: 100px;
  height: 32px;
  background-repeat: no-repeat;
  margin: 0px 0px 0px 12px;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .account_no-menu {
    display: none;
  }
}
