.aboutme {
  display: flex;
  flex-direction: column;
  margin: 0px 70px;
}

.aboutme__title {
  margin: 110px 0px 23px;
  padding: 0px;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* border-bottom: 1px solid rgba(218, 218, 218, 1); */
}

.aboutme__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgba(218, 218, 218, 1);
}

.aboutme__name {
  margin: 66px 0px 18px;
  padding: 0px;
  color: #FFF;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.aboutme__job {
  margin: 0px;
  padding: 0px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.aboutme__info {
  margin: 26px 0px 99px;
  padding: 0px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.aboutme__avatar {
  background-image: url(../../images/AvatarMaker.png);
  width: 270px;
  height: 327px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 66px 0px 0px;
  padding: 0px;
  border-radius: 10px;
}

.aboutme__column_info {
  max-width: 600px;
  width: 100%;
  margin-right: 70px;
}

.aboutme__link {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

@media screen and (max-width: 768px) {
  .aboutme {
    margin: 0px 50px;
  }
  .aboutme__title {
    margin-top: 93px;
  }

  .aboutme__name {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .aboutme__job {
    font-size: 12px;
  }

  .aboutme__info {
    font-size: 12px;
    margin: 20px 0px 40px;
  }

  .aboutme__avatar {
    width: 255px;
    height: 307px;
  }

  .aboutme__column_info {
    margin-right: 45px;
    line-height: 18px;
}
}

@media screen and (max-width: 670px) {
  .aboutme {
    margin: 0px 25px;
  }
  .aboutme__avatar {
    width: 200px;
    height: 250px;
  }
  .aboutme__info {
    font-size: 11px;
  }

  .aboutme__column_info {
    margin-right: 25px;
  }

  .aboutme__name {
    font-size: 30px;
    margin: 40px 0px 20px;
  }

  .aboutme__title {
    margin: 70px 0px 28px;
  }
}

@media screen and (max-width: 500px) {
  .aboutme {
    margin: 0px 14px;
  }
  .aboutme__container {
    flex-direction: column-reverse;
  }
  .aboutme__avatar {
    max-width: 100vh;
    width: 100%;
    height: 370px;
    align-self: center;
    margin-top: 60px;
  }
  .aboutme__column {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 340px) {
  .aboutme__avatar {
    width: 292px;
    height: 352px;
  }
  .aboutme__column_info {
    margin: 0px;
  }
}