.footer {
  /* position: absolute;
  bottom: 0; */
  height: 172px;
  margin: 0px 70px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  max-width: 1140px;
}

.footer__project {
  margin: 79px 0px 0px;
  padding: 0px;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #8B8B8B;
  align-self: center;
}

.footer__container {
  display: flex;
  flex-direction: row;
  margin: 20px 0px 0px;
  border-top: 1px solid rgba(66, 66, 66, 1);
  justify-content: space-between;
}

.footer__copyright {
  margin: 20px 0px 0px;
  padding: 0px;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
}

/* @media screen and (max-width: 920px) {
  .footer__copyright {
    margin-left: 19px;
  }
}

@media screen and (max-width: 400px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
} */

.footer__links-container {
  padding: 0px;
  margin-top: 20px;
}

.footer__link {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.footer__link:hover {
  opacity: 0.6;
}


.footer__link:first-of-type {
  margin-right: 20px;
}