.movies-button__container {
  display: flex;
  flex-direction: column;
  margin: 80px 0px;
}

.movies__button {
  padding: 0px;
  width: 320px;
  height: 36px;
  border-radius: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  border: 1px solid #424242;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: opacity 0.3s;
}

.movies__button_hidden {
  display: none;
}

.movies__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 450px) {
  .movies-button__container {
    margin: 80px 0px;
  }
  .movies__button {
    width: 240px;
    height: 36px;
  }
}