.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 70px;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0px 30px;
  }
}

/* @media screen and (max-width: 950px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 400px) {
  .header__logo {
    width: 104px;
    height: 25px;
  }
} */

.header__container {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.header__account {
  margin: 21px 0px 0px;
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 32px;
  border-radius: 50px;
  border: 2px solid rgba(170, 170, 170, 0.2);
  align-items: center;
}

.header__account-link {
  margin: 0px 12px 0px 7px;
  padding: 0px;
  color: #FFF;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.header__account:hover {
  transform: scale(1.03);
}

.header__account-icon {
  background-image: url(../../images/icon__COLOR_icon-main.svg);
  width: 100px;
  height: 32px;
  background-repeat: no-repeat;
  margin: 0px 0px 0px 12px;
  background-position: center;
}

.header__link {
  margin: 29px 50px 29px 0px;
  padding: 0px;
  color: #FFF;
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.header__link:hover {
  opacity: 0.6;
}

.header__link_movies {
  margin: 29px 0px 0px;
}

.header__link_movies:last-of-type {
  margin-left: 16px;
}

.header__signin {
  margin: 21px 0px;
  width: 76px;
  height: 32px;
  background-color: #3DDC84;
  border-radius: 3px;
  box-shadow: none;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  transition: transform 0.3s
}

.header__signin:hover {
  transform: scale(0.95);
}