.navigation__container {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.navigation__link {
  margin: 29px 50px 29px 0px;
  padding: 0px;
  color: #FFF;
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s;
  margin: 29px 0px 0px;
}

.navigation__link:hover {
  opacity: 0.6;
}

.navigation__link:last-of-type {
  margin-left: 16px;
}

.navigation__burger-button {
  display: none;
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: relative;
  border: none;
  margin: 25px 0px 15px;
  cursor: pointer;
}

.navigation__burger-button::before,
.navigation__burger-button::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.navigation__burger-button::before {
  top: -10px;
}

.navigation__burger-button::before:hover {
  transform: scale(1.05);
}

.navigation__burger-button::after {
  top: 10px;
}

.navigation__burger-button::before:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .navigation__link {
    display: none;
  }

  .navigation__account {
    display: none;
  }

  .navigation__burger-button {
    display: flex;
    align-self: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
  }

  .navigation__burger-button:hover {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 670px) {
  .navigation__link {
    margin: 29px 14px 29px 0px;
  }
}

@media screen and (max-width: 500px) {
  .navigation__link {
    font-size: 10px;
  }
}